h3{
    color:darkred;
    font-size: 60px;
    background: #aaa;
    width: 500;
    margin: auto;
}
.cat{
    
    width: 600px;
    background-color: #aaa;
}
.cat1{
    width: 130px;
    float: left;
    
    border:3px solid #666;   
    margin: 10px;
    padding:10px;
    
}
.btn{
    display: inline;
    background-color: antiquewhite;
    padding:30px;
    margin: 100px;
    text-decoration: none;
    /*transition:屬性 轉換時間 延遲時間 速度*/
    transition: all 1s 0s ease;
}
.btn:hover{
    background-color: brown;
}